<a href="https://colab.research.google.com/github/morreh89/89259/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2020_07_Maurice_Kimanzi_Python_Notebook_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import the neccesary libraries
import pandas as pd
import numpy as np
from pandas import ExcelWriter
from pandas import ExcelFile
from glob import glob
import datetime as dt
#Change columns to two decimal places
pd.set_option("display.precision", 2)

In [ ]:
#loading our dtatsets
cellsGeoXL_df = pd.read_excel('cells_geo_description.xlsx')
#viewing our dataset
print(cellsGeoXL_df.columns)

Index(['Column name', 'Description', 'Format'], dtype='object')

In [ ]:
#loading our datatsets
cellsGeoCSV_df = pd.read_csv('cells_geo.csv')
#rename misspelled column
cellsGeoCSV_df.rename(columns = {'SITE_CODE': 'SITE_ID'}, inplace = True)
#viewing our dataset
print(cellsGeoCSV_df)

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID     SITE_ID
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [ ]:
#loading our datatsets
CDR_df = pd.read_excel('CDR_description.xlsx')
#viewing our dataset
print(CDR_df.columns)

Index(['Column name', 'Description', 'Format'], dtype='object')

In [ ]:
#view the dataset and notice columns mispelled
Telcom1_df = pd.read_csv('Telcom_dataset1.csv')
#rename Telcom1 column 'PRODUTC' to 'PRODUCT'
Telcom1_df.rename(columns = {'PRODUTC': 'PRODUCT', 'DATETIME': 'DATE_TIME'}, inplace = True)
#view the output of changes made
print(Telcom1_df)

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

In [ ]:
#view the dataset and notice columns mispelled
Telcom2_df = pd.read_csv('Telcom_dataset2.csv')
#rename the misspelled columns
Telcom2_df.rename(columns = {'DW_A_NUMBER': 'DW_A_NUMBER_INT', 'CELLID': 'CELL_ID', 'DW_B_NUMBER': 'DW_B_NUMBER_INT'}, inplace = True)
#view the output of changes made
print(Telcom2_df.columns)

Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [ ]:
#view the dataset and notice columns mispelled
Telcom3_df = pd.read_csv('Telcom_dataset3.csv')
#rename the misspelled columns
Telcom3_df.rename(columns = {'SIET_ID': 'SITE_ID', 'CELLID':'CELL_ID'}, inplace = True)
#view the output of changes made
print(Telcom3_df.columns)

Index(['PRODUCT', 'VALUE', 'DATE_TIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [ ]:
#append the three dataframes into one dataframe
New_dataframe = Telcom1_df.append([Telcom2_df, Telcom3_df])
#view the output of changes made
New_dataframe

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

In [ ]:
#append the New_dataframe with cell_geo.csv
TelcomCellsGeo = pd.merge(New_dataframe, cellsGeoCSV_df, on='SITE_ID')
#view the appended dataset
TelcomCellsGeo

      PRODUCT  VALUE  ...           AREA   CELL_ID_y
0         sms      0  ...   CENTRE NORTH  24ccdda3d5
1         sms      0  ...   CENTRE NORTH  ebfc58af70
2         sms      0  ...   CENTRE NORTH  ba8ce6e4ef
3         sms      0  ...   CENTRE NORTH  c2545171dc
4         sms      0  ...   CENTRE NORTH  f15bd5483f
...       ...    ...  ...            ...         ...
51192   Voice     17  ...  ABIDJAN NORTH  c179f33d5e
51193   Voice     17  ...  ABIDJAN NORTH  0a3f751619
51194     sms      0  ...   CENTRE NORTH  0427a26d34
51195     sms      0  ...   CENTRE NORTH  7c72293cf2
51196     sms      0  ...   CENTRE NORTH  be18b5b981

[51197 rows x 21 columns]

In [ ]:
#convert DATE_TIME to date time format
TelcomCellsGeo["DATE_TIME"] = pd.to_datetime(TelcomCellsGeo["DATE_TIME"])

In [ ]:
#Which ones were the most used city for the three days?
TelcomCellsGeo["VILLES"].value_counts()
#from the output we can see the top five cities used are YOPOUGON, ABOBO

YOPOUGON    8720
ABOBO       6266
COCODY      3814
ADJAME      2703
KOUMASSI    2333
            ...
SAMO           3
DOKE           3
MAHAPLEU       3
DANANON        2
KOTOULA        2
Name: VILLES, Length: 398, dtype: int64

In [ ]:
#Least used city for the three days?
TelcomCellsGeo["VILLES"].value_counts().tail
#from the output we can see the least used city was KOTOULA

<bound method NDFrame.tail of YOPOUGON    8720
ABOBO       6266
COCODY      3814
ADJAME      2703
KOUMASSI    2333
            ...
SAMO           3
DOKE           3
MAHAPLEU       3
DANANON        2
KOTOULA        2
Name: VILLES, Length: 398, dtype: int64>